*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color: #120012;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23580058' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23690069'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    
}

.nota{
    color: #fff;
    padding: 30px;
    font-size: 10px;
}
/* reloj mostrando hora */

.container-watch{
    display: grid;
    place-items: center;
    width: 200vh;
    height: 85vh;
    color:aliceblue;
    overflow: hidden;
}

#watch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid #763EFF;
    border-radius: 50%;
    color: #763EFF;
    font-size: 35px;
    
}

/* timer */
.container-timer{
    display: grid;
    place-content: center;
    width: 300px;
    height: 100px;
    background-color: #763EFF;
    border-radius: 20px;
    gap: 5px;
    margin: 0;

}
.container-buttons{
    position: relative;
}

#start{
    width: 70px;
    height: 40px;
    background-color: #FFF33E;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#pause{
    width: 70px;
    height: 40px;
    background-color: #0091DF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
#stop{
    width: 70px;
    height: 40px;
    background-color: #ff4864;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

/* chronometer */
.container-chronometer{
    width: 90%;
    text-align: center;
}

#startBtn{
    margin: 50px;
    background-color: #120012;
    color: #fff;
    padding: 12px;
    border: #fff 1px solid;
    border-radius: 6px;
    cursor: pointer;
}

label{
    font-weight: 700;
    font-size: 21px;
}



/* otro lado del chrono */
#chrono{
    display: grid;
    place-items: center;
    text-align: center;
    gap: 20px;
    font-size: 20px;
}

img{
    width: 30%;
    margin-top: 50px;
    animation: mover-derecha 0.7s linear infinite;
    animation-direction: alternate;
}

@keyframes mover-derecha {
    from {
        transform: translateX(-40px);
      }
      to {
        transform: translateX(10px);
      }
}
.stop-chrono{
    width: 90px;
    height: 40px;
    background-color: #ff4864;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}


/* caras del cubo 3d */

.container {
    position: absolute;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 1s;
   
  }
  
.face {
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;

}

.front {
    transform: translateZ(200px);
    border: 2px solid #2C002C ;
}
.back {
    padding: 30px;
    transform: rotateY(-180deg) translateZ(200px);
    border:2px solid #2C002C ;
}


.right {
    transform: rotateY(90deg) translateZ(200px);
    border:2px solid #2C002C ;
}
.left {
    transform: rotateY(-90deg) translateZ(200px);
    border:2px solid #2C002C ;
    gap: 25px;
}

